python-dotenv
python-dateutil
pydantic
asyncpg
httpx
blibs
fastapi[standard]
jinja2
pyyaml
asgi-logger
opentelemetry-distro
opentelemetry-exporter-otlp
#opentelemetry-instrumentation-fastapi
#opentelemetry-instrumentation-asyncpg
#opentelemetry-instrumentation-httpx
#opentelemetry-instrumentation-asyncio
#opentelemetry-instrumentation-aiohttp-client
