python-dotenv
python-dateutil
pydantic
asyncpg
httpx
fastapi
uvicorn
uvloop
httptools
jinja2
pyyaml
fastapi-structured-logging
structlog
orjson
opentelemetry-distro
opentelemetry-exporter-otlp
#opentelemetry-instrumentation-fastapi
#opentelemetry-instrumentation-asyncpg
#opentelemetry-instrumentation-httpx
#opentelemetry-instrumentation-asyncio
#opentelemetry-instrumentation-aiohttp-client
