$schema: https://adaptivecards.io/schemas/adaptive-card.json
type: AdaptiveCard
version: '1.5'
fallbackText: {{ fallback }}
speak: {{ fallback }}
body:
- size: Small
  text: '{{ precalc.path_with_namespace }} [!{{ precalc.iid }}]'
  type: TextBlock
  weight: Bolder
  wrap: true
- type: ColumnSet
  spacing: Small
  columns:
  - type: Column
    verticalContentAlignment: Center
    width: auto
    items:
    - type: Icon
      color: {{ precalc.icon_color | default("Accent") }}
      name: BranchRequest
  - type: Column
    spacing: Small
    verticalContentAlignment: Center
    width: stretch
    items:
    - type: TextBlock
      size: Large
      text: '{{ precalc.title | e }}'
      weight: Bolder
      wrap: true
    - type: TextBlock
      size: Small
      text: Opened by {{ precalc.opener.name }}
      wrap: true
- type: Table
  showGridLines: false
  columns:
  - width: 3
  - width: 7
  firstRowAsHeaders: false
  rows:
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Last reported status
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.detailed_merge_status }}'
        #size: Small
        wrap: true
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Last reported action
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.latest_action }}'
        #size: Small
        wrap: true
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Source branch
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.source_branch }}'
        #size: Small
        wrap: true
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Target branch
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.target_branch }}'
        #size: Small
        wrap: true

{% if precalc.assignees %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Assignees
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.assignees | join(",") }}'
        #size: Small
        wrap: true
{% endif %}
{% if precalc.reviewers %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Reviewers
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.reviewers | join(",") }}'
        #size: Small
        wrap: true
{% endif %}
{% if precalc.approvers %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Approvals
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{ precalc.approvers | join(",") }}'
        #size: Small
        wrap: true
{% endif %}
{% if mri.head_pipeline_id %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Head pipeline
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '[{{ mri.head_pipeline_id }}]({{ precalc.project_url }}/-/pipelines/{{ mri.head_pipeline_id }})'
        #size: Small
        wrap: true
{% if precalc.latest_pipeline %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Pipeline status
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        color: {{ precalc.latest_pipeline.color }}
        text: {{ precalc.latest_pipeline.status }}
        #size: Small
        weight: {{ precalc.latest_pipeline.weight }}
        wrap: true
{% endif %}
{% endif %}
{% if precalc.emojis %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Top
      items:
      - type: TextBlock
        text: Emojis
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:

      - type: Table
        showGridLines: false
        columns:
        - width: 1
        - width: 20
        firstRowAsHeaders: false
        rows:
{% for emoji, count in precalc.emojis.items() %}
        - type: TableRow
          cells:
          - type: TableCell
            verticalContentAlignment: Center
            items:
            - type: TextBlock
              text: '{{ count }}'
              size: Small
              wrap: true
              horizontalAlignment: Right
          - type: TableCell
            verticalContentAlignment: Center
            items:
            - type: TextBlock
              text: {{ emoji }}
              size: Small
              weight: Bolder
              wrap: true
{% endfor %}
{% endif %}
  - type: TableRow
    cells:
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: Last update
        size: Small
        weight: Bolder
        wrap: true
    - type: TableCell
      verticalContentAlignment: Center
      items:
      - type: TextBlock
        text: '{{now}}'
        #size: Small
        wrap: true
- actions:
  - title: Overview
    type: Action.OpenUrl
    url: '{{ mri.merge_request_payload.object_attributes.url }}'
  - title: Diff
    type: Action.OpenUrl
    url: '{{ mri.merge_request_payload.object_attributes.url }}/diffs'
  spacing: ExtraLarge
  type: ActionSet
