{
    "type": "AdaptiveCard",
    "speak": {{ fallback }},
    "fallbackText": {{ fallback }},
    "body": [
        {
            "size": "Small",
            "text": " {{ precalc.path_with_namespace }} [!{{ precalc.iid }}]",
            "weight": "Bolder",
            "wrap": true,
            "type": "TextBlock"
        },
        {
            "columns": [
                {
                    "width": "auto",
                    "items": [
                        {
                            "type": "Icon",
                            "name": "BranchRequest",
                            "color": "Accent"
                        }
                    ],
                    "type": "Column",
                    "verticalContentAlignment": "Center"
                },
                {
                    "width": "stretch",
                    "items": [

                        {
                            "size": "Large",
                            "text": " {{ precalc.title }}",
                            "weight": "Bolder",
                            "wrap": true,
                            "type": "TextBlock"
                        },
                        {
                            "size": "Small",
                            "text": "Opened by {{ precalc.openner.name }}",
                            "wrap": true,
                            "type": "TextBlock"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "spacing": "Small",
                    "type": "Column"
                }
            ],
            "spacing": "Small",
            "type": "ColumnSet"
        },
        {
            "type": "Table",
            "columns": [
                {
                    "width": 1
                },
                {
                    "width": 2
                }
            ],
            "rows": [
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Last MR status",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.detailed_merge_status }}",
                                    "wrap": true
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        }
                    ]
                },
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Last MR action",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ]
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.latest_action }}",
                                    "wrap": true
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Source branch",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ]
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.source_branch }}",
                                    "wrap": true
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Target branch",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ]
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.target_branch }}",
                                    "wrap": true
                                }
                            ]
                        }
                    ]
                },

                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Approvals",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ]
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.approvers | join(",") }}",
                                    "wrap": true
                                }
                            ]
                        }
                    ]
                },


{% if mri.head_pipeline_id %}
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Head pipeline",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "[{{ mri.head_pipeline_id }}]({{ precalc.project_url }}/-/pipelines/{{ mri.head_pipeline_id }})",
                                    "wrap": true
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        }
                    ]
                },
{%- if precalc.latest_pipeline %}
                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Pipeline status",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{ precalc.latest_pipeline.status }}",
                                    "color": "{{ precalc.latest_pipeline.color }}",
                                    "wrap": true,
                                    "weight": "{{ precalc.latest_pipeline.weight }}"
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        }
                    ]
                },
{%- endif %}
{%- endif %}


                {
                    "type": "TableRow",
                    "cells": [
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "Last update",
                                    "wrap": true,
                                    "weight": "Bolder"
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        },
                        {
                            "type": "TableCell",
                            "items": [
                                {
                                    "type": "TextBlock",
                                    "text": "{{now}}",
                                    "wrap": true
                                }
                            ],
                            "verticalContentAlignment": "Center"
                        }
                    ]
                }
            ],
            "firstRowAsHeaders": false,
            "showGridLines": false
        },
        {
            "actions": [
                {
                    "title": "Overview",
                    "type": "Action.OpenUrl",
                    "url": "{{mri.merge_request_payload.object_attributes.url}}"
                },
                {
                    "title": "Diff",
                    "type": "Action.OpenUrl",
                    "url": "{{mri.merge_request_payload.object_attributes.url}}/diffs"
                }
            ],
            "type": "ActionSet",
            "spacing": "ExtraLarge"
        }
    ],
    "version": "1.5",
    "$schema": "https://adaptivecards.io/schemas/adaptive-card.json"
}
